IP="127.0.0.1"
PORT="8600"

HASHSECRET="SecretHere"

DATABASEURL="mongodb://127.0.0.1/your_database"

TOKENSECRET="LongTokenSecretHere"

NODE_ENV="development"
# set node env to production on live server, development otherwise
