@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
@import "@primer/css/core/index.scss";

$font-stack: Helvetica, sans-serif;
$primary-hue: 120;

$colour-text: hsl($primary-hue, 10%, 88%);
$colour-accent: hsl($primary-hue, 66%, 80%);
$colour-pop: hsl($primary-hue, 20%, 80%);
$colour-light: hsl($primary-hue, 6%, 20%);
$colour: hsl($primary-hue, 6%, 10%);
$colour-dark: hsl($primary-hue, 6%, 3%);

// override text colour
a,
span,
p,
h1,
h2,
h3,
h4,
strong,
div,
.text,
.title,
.heading {
  color: $colour-text;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 100;
  font-size: 6.5rem;
}

a {
  color: $colour-accent;
}

html {
  color: $colour-pop;
  background: $colour-dark;
  background: -webkit-linear-gradient(to top, $colour, $colour-dark) fixed;
  background: linear-gradient(to top, $colour, $colour-dark) fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

section {
  max-width: 40rem;
  margin: 0 auto;
}

.content {
  text-align: center;
  max-width: 27rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.heading {
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 1rem;
}

.divider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem 0;

  hr {
    flex-grow: 1;
    margin: 0 1.5rem;
    border: 0;
    border-top: 2px solid;
    opacity: 0.33;
  }

  .divider-content {
    transform: translateY(-50%);
  }
}

.panel {
  background-color: $colour-pop;
  border-radius: 6px;
  color: $colour-dark;
  padding: 1rem;
}

.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-col {
    flex-direction: column;
  }
}

//@for $i from 1 through 5 {
//  .m-#{$i} {
//    margin: #{$i}rem;
//  }
//  .mt-#{$i} {
//    margin-top: #{$i}rem;
//  }
//  .ml-#{$i} {
//    margin-left: #{$i}rem;
//  }
//  .mb-#{$i} {
//    margin-bottom: #{$i}rem;
//  }
//  .mr-#{$i} {
//    margin-right: #{$i}rem;
//  }
//  .mx-#{$i} {
//    margin-left: #{$i}rem;
//    margin-right: #{$i}rem;
//  }
//  .my-#{$i} {
//    margin-top: #{$i}rem;
//    margin-bottom: #{$i}rem;
//  }
//}

.kubedev a {
  display: block;
  margin-bottom: 0.5rem;
  color: $colour-accent;

  span {
    color: inherit;
  }

  svg {
    max-width: 2rem;
    fill: $colour-text;
    transform: translateY(25%);
  }

  .link-name {
    display: inline-block;
    width: 5rem;
    text-align: left;
    text-decoration: underline;
    transition: color 0.22s ease-in-out;
  }

  .link-icon {
    display: inline-block;
    margin: 0 0.5rem;
    border: 3px solid $colour-text;
    border-radius: 0.5rem;
    overflow: hidden;
    min-height: 3rem;
    min-width: 3rem;
    position: relative;
    transform: translateY(1rem);

    svg {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%) scale(1.25);
      transition: transform 0.22s ease-in-out;
    }
  }

  .icon-cv .fill-dark path {
    fill: black;
  }

  &:hover {
    color: $colour-pop;

    svg {
      transform: translateX(-50%) scale(1.75);
    }
  }
}

//icon stuff
.kubedev.icon {
  max-width: 3rem;

  svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    overflow: visible;

    #border {
      fill: black;
      stroke: $colour-accent;
      stroke-width: 10px;
      stroke-linejoin: round;
    }

    #cube {
      fill: $colour-text;
    }

    #shade {
      fill: $colour;
    }
  }
}

// animation keys setup
.anim-fade-in-quick {
  @keyframes animQuick {
    0% {
      transform: translateY(2.5rem) scale(1.2);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }

  animation: 0.5s cubic-bezier(0.11, 0.88, 0.86, 1) animQuick both;
}

.anim-fade-in {
  @keyframes animOpacity {
    0% {
      opacity: 0;
      transform: translateY(2.5rem) scale(1.2);
    }
    70% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  animation: 1s cubic-bezier(0.11, 0.88, 0.86, 1) animOpacity both;
}

@for $i from 0 through 6 {
  .anim-delay-#{$i} {
    animation-delay: #{$i * 0.15}s;
  }
}

.kubedev.icon #border {
  @keyframes animIconIntroBorder {
    0% {
      opacity: 0;
      fill: black;
      stroke: black;
      stroke-width: 0;
    }
    90% {
      opacity: 1;
      fill: white;
      stroke: white;
      stroke-width: 20px;
    }
    100% {
      opacity: 1;
      fill: black;
      stroke: $colour-accent;
    }
  }

  animation: 0.5s ease-in-out 0.5s animIconIntroBorder both;
}

.kubedev.icon #shade,
.kubedev.icon #cube {
  @keyframes animIconIntroCubeFall {
    0% {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
    50% {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
    95% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: 1s ease-in-out 0.33s animIconIntroCubeFall both;
}

.kubedev.icon #shade {
  @keyframes animIconIntroCubeShade {
    0% {
      fill: transparent;
    }
    100% {
      fill: $colour;
    }
  }

  animation: 1s ease-in 1.5s animIconIntroCubeShade both;
}

footer {
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  padding-top: 1rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 50rem;
  margin: 0 auto;

  .inline {
    display: inline;
  }

  .block {
    margin: 0 0.75rem;
    text-align: left;

    &__heading {
      margin-bottom: 0.5rem;
    }

    &__content {
      margin-left: 1.5rem;
      margin-bottom: 1rem;

      a {
        margin-bottom: 0.2rem;
        display: block;
        text-wrap: nowrap;
      }

      .icon {
        max-width: 1rem;
      }
    }
  }

  .link {
    text-underline-offset: 0.3rem;

    .icon {
      max-width: 0.9rem;
    }
  }

  .no-link-line {
    text-decoration: none;
  }

  .pill {
    color: white;
    background-color: black;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    text-wrap: nowrap;
    padding-right: 1.5rem;

    .icon {
      position: relative;
      top: -0.15rem;
      vertical-align: middle;
      max-width: 1.2rem;
    }
  }

  a,
  svg,
  .icon,
  a:focus,
  a:visited {
    color: inherit;
  }

  @media (max-width: 450px) {
    flex-direction: column;
    align-items: center;

    .block {
      margin-bottom: 1rem;

      &__content {
        margin-left: 1rem;
      }
    }

    small,
    .no-link {
      display: inline !important;
    }
  }
}

// RESPONSIVE
@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 544px) {
  h1 {
    font-size: 4rem;
  }
}
